<div class="modal fade" #modalContainer tab-index="-1" id="{{elementId}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body" (click) = "closeModal()">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>